
html,body
{
  font-family: 'Open Sans';
  height: 100%;
}

/* -----------------------------------------------------------------------------
* DASHBORD
*/

// Dashboard login page --------------------------------------------------------
#dashboard-login{
  height: 100%;
  background-color: $color-secondary;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dashboard-login img {
  width: 160px;
  margin-left: 50%;
  transform: translateX(-50%);
}

#dashboard-login h1 {
  font-size: $font-size-XL;
  color: $color-primary;
  text-align: center;
  font-weight: bold;
}

#dashboard-login h1::first-letter {
  color: $color-tertiary;
}

#dashboard-login input:nth-child(1) {
  width: 100%;
}

#dashboard-login .input::placeholder {
  color: $color-primary;
}

#dashboard-login .input {
  margin-top: 5px;
}

#dashboard-login .input-btn {
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: $color-tertiary;
  border: 1px solid $color-tertiary;
  color: $color-primary;
}

#dashboard-login .form-group label {
  color: $color-primary;
  font-weight: 600;
}

// Dashboard nav menu ----------------------------------------------------------
#dashboard-nav .left-nav p {
  float: left;
  font-size: $font-size-S;
  font-weight: bold;
  color: $color-primary;
  margin-left: 20px;
  line-height: 60px;
}

#dashboard-nav .right-nav .icon-bar {
    width: 200px; /* Full-width */
    height: 100%;
    overflow: auto; /* Overflow due to float */
}

#dashboard-nav .right-nav .icon-bar a {
    float: left;
    text-align: center;
    width: 25%;
    height: 100%;
    color: white;
    font-size: $font-size-M;
    line-height: 60px;
}

#dashboard-nav .right-nav .icon-bar a:hover {
    color: $color-tertiary;
}

// Dashboard left menu ---------------------------------------------------------
#dashboard-left-menu {
  background-color: $color-secondary;
  position: fixed;
  width: 250px;
  height:100vh;
  left: 0;
  right: 0;
  top: 60px;
  font-size: $font-size-S;
  display: flex;
  flex-direction: column;
}


#dashboard-left-menu nav div {
  display: flex;
  flex-direction: column;
}

#dashboard-left-menu a {
  padding-left: 15px;
  display: inline-table;
}

#dashboard-left-menu a i:first-child {
  width: 20px;
  padding-right: 15px;
  display: table-cell;
}

#dashboard-left-menu a i:nth-child(2) {
  display: table-cell;
  text-align: right;
  padding-right: 10px;
}

.menu-item {
  float: left;
  width: 100%;
  text-decoration: none;
  color: $color-primary;
  height: 40px;
  line-height: 40px;
}

.menu-sub-item {
  padding-left: 20px;
  float: left;
  width: 100%;
  text-decoration: none;
  color: $color-primary;
}

.sub-items{
  background-color: $color-quaternary-dark;
  float: left;
  width: 100%;
}

.active-menu-item {
  color: $color-tertiary;
}

// Dashboard content -----------------------------------------------------------
#dashboard-content {
  padding-left: 20px;
  overflow: hidden;
  position: fixed;
  left: 250px;
  top: 60px;
  height:calc(100vh - 60px);
  width: calc(100% - 250px);
}

.viewport {
    overflow: auto;

    /* Make sure the inner div is not larger than the container
     * so that we have room to scroll.
     */
    max-height: 100%;

    /* Pick an arbitrary margin/padding that should be bigger
     * than the max width of all the scroll bars across
     * the devices you are targeting.
     * padding = -margin
     */
    margin-right: -100px;
    padding-right: 100px;
}



// Dashboard statistics page ---------------------------------------------------
#dashboard-stat select {
  width: 100%;
  height: 30px;
}

#dashboard-stat .indicator p:nth-of-type(1) {
  font-weight: 600;
  font-size: $font-size-S;
}

#dashboard-stat .indicator .number-indicator {
  font-weight: 600;
  font-size: $font-size-XL;
  text-align: center;
}

#dashboard-stat .indicator .text-indicator {
  font-weight: 600;
  font-size: $font-size-M;
  text-align: center;
}

#dashboard-stat {
  padding-top: 35px;
}

#dashboard-stat select {
  margin-bottom: 20px;
}

#dashboard-stat .last-row {
  padding-top: 60px;
}

#dashboard-stat .indicator{
  display: inline-block;
}

#dashboard-stat .indicator-margin{
  margin-bottom: 120px;
}

#dashboard-stat .myChart {
  border: 2px solid $color-quaternary;
  border-radius: 5px;
  padding:10px;
}

/* -----------------------------------------------------------------------------
* Front
*/
.front-main-content {
  position: relative;
  flex-grow: 1;
}

.front-template-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.back-title {
  margin-top: 35px;
}

.back-title h1 {
  color: $color-secondary;
  font-size: $font-size-L;
  font-weight: bold;
}

.front-title {
  height: 80px;
  background-color: $color-quaternary;
  width: 100%;
  padding-left: 80px;
}

.front-title h2 {
  color: $color-secondary;
  font-size: $font-size-L;
  font-weight: 600;
  line-height: 80px;
}

.login-container {
  background-color: $color-secondary;
  border-radius: 5px;
}

.login-container .input {
  background-color: $color-secondary;
  color: $color-primary;
}

.main-section {
  padding: 35px 0 35px 0;
}

.description {
  font-size: $font-size-M;
}

.errors {
  background-color: #d95858;
  border: 2px solid #c40018;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 5px 0 5px 0;
}

.errors i {
  right: 10px;
}


// Login front -----------------------------------------------------------------

#front-add-user h3 {
  color: $color-secondary;
  font-size: $font-size-M;
  font-weight: 600;
  margin-bottom: 10px;
}




// Top Nav ---------------------------------------------------------------------
#front-topnav {
  height: 60px;
  background-color: $color-secondary;
  overflow: hidden;
}

#front-topnav .btn-filled-orange:hover {
  background-color: $color-secondary;
  color: $color-tertiary;
}

#front-topnav .wrapper-icon {
  float: right;
  position: relative;
  margin-top: 15px;
  margin-right: 25px;
}


#front-topnav .right-nav a {
  float: right;
}

#front-topnav .right-nav .btn-filled-orange:hover {
  border-bottom: 2px solid $color-tertiary;
  color: $color-tertiary;
}

#front-topnav .left-nav .btn-filled-orange:hover {
  border-bottom: 2px solid $color-tertiary;
  color: $color-tertiary;
}

#front-topnav .left-nav a {
  float: left;
  display: block;
  color: $color-primary;
  text-align: center;
  padding-top: 18px;
  text-decoration: none;
  font-size: $font-size-S;
  padding-left: 10px;
  padding-right: 10px;
  height: 60px;
  font-weight: 600;
}

#front-topnav .left-nav a:nth-of-type(1) {
  margin-left: 25px;
}

#front-topnav .left-nav a:hover {
  border-bottom: 2px solid $color-tertiary;
  color: $color-tertiary;
}


#front-topnav .right-nav a {
  margin-top: 15px;
}

#front-topnav .right-nav a:nth-of-type(1) {
  margin-right: 35px;
  margin-left: 25px;
}


// SLIDER ----------------------------------------------------------------------

#slider {
  height: 200px;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  z-index: 0;
  position: relative;
}

#slider img {
  object-fit: fill;
  width: 100%;
}

#slider a i {
  font-size: 48px;
  color: $color-primary;
  height: 100%;
  vertical-align: middle;
  position: relative;
  top: 0px;
  left: 0px;
}

#slider a {
  display: block;
  width: 35px;
  height: 50px;
  z-index: 10;
  position: absolute;
}

#slider-left {
  left: 35px; top: 75px;
}

#slider-right {
  right: 35px; top: 75px;
}

.title {
  margin-top: 35px;
  font-size: $font-size-L;
  color: $color-secondary;
  font-weight: 600;
}

#front-content .see-all {
  margin-top: 60px;
  text-align: right;
}

#front-content .see-all a {
  font-size: $font-size-M;
  font-weight: 600;
  color: $color-quaternary-dark;
  text-decoration: none;
}



// Footer ----------------------------------------------------------------------

#footer {
  background-color: $color-secondary;
  color: $color-primary;
  padding-top: 15px;
}

#footer .footer-title {
  color: $color-primary;
  font-size: 24px;
  font-weight: bold;
}

#footer div:first-of-type .footer-wrapper:first-of-type .footer-title::first-letter {
  color: $color-tertiary;
}

#footer div:first-of-type .footer-wrapper:first-of-type .footer-content {
  font-size: $font-size-X;
  padding: 10px 0;
}

#footer-network {
  display:flex;
  list-style:none;
  justify-content: space-between;
  margin-top: 10px;
}

#footer-network li a {
  display: block;
  text-decoration: none;
  color: $color-primary;
}

#footer-network li i {
  font-size: $font-size-L;
  position: relative;
  left: 50%;transform: translateX(-50%);
  margin-bottom: 10px;
}

.footer-wrapper {
  margin-top: 10px;
}

// Premium ---------------------------------------------------------------------

#premium-container {
  height: 150px;
  background-color: $color-tertiary;
  margin-top: 60px;
  font-weight: bold;
  text-align: center;
}

#premium-container a {
  text-decoration: none;
  color: $color-primary;
  font-size: 24px;
}

#premium-container a i {
  margin-top: 10px;
  font-size: 40px;
  position: relative;
  left: 0;
}

// Card ------------------------------------------------------------------------

.card-image {
  height: 150px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 5px 5px 0 0;
}
.card-separation {
  height: 5px;
  width: 100%;
  background-color: tomato;
}
.card-content {
  text-align: center;
}

.card-content-title {
  font-size: $font-size-S;
  font-weight: 600;
  color: black;
  margin-top: 10px;
}

.card-content-author {
  font-size: $font-size-S;
  margin-top: 10px;
  color: $color-secondary;
}

.card {
  display: block;
  height: 230px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 35px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

// Content trainning chapter
#front-chapter i {
  color: $color-secondary;
}

.trainning-title {
  color: $color-quaternary-dark;
}
.subpartHead {
  background-color: $color-secondary;
  color: $color-primary;
  height: 35px;
  font-size: $font-size-M;
  line-height: 35px;;
  border-radius: 5px 5px 0 0;
}

.subpartHead i {
  line-height: 35px;
}

.chapterParts textarea {
  height: 10em;
}

.chapter{
  background-color: $color-secondary;
  height: 30px;
  margin-bottom: 10px;
}

.part_hidden {
  background-color: $color-quaternary;
}

.content-title {
  color: $color-tertiary;
  font-weight: 600;
  font-size: $font-size-M;
  line-height: 30px;
}

.content-text-under-title {
  color: black;
  font-size: $font-size-XS;
  margin-top: 10px;
}

.content-subtitle {
  font-weight: 600;
  font-size: $font-size-S;
  color: $color-secondary;
  margin-top: 15px;
}

#content-head a {
  margin-top: 25px;
  margin-bottom: 35px;
}

#content a:hover {
  background-color: $color-primary;
  color: $color-tertiary;
}

#content-main a {
  text-decoration: none;
  color: $color-tertiary;
  display: block;
}

#content-main i {
  position: relative;
  left: 0;
  font-size: $font-size-M;
  font-weight: 600;
  line-height: 30px;
}

.content-text{
  margin-top: 10px;
  color: black;
  font-size: $font-size-XS;
}

.content-hidden {
  display: none;
  width: 100%;
}

.left-content {
  margin-top: 35px;overflow: hidden;float: left; width: 300px
}

#content {
  overflow: hidden;
  height: 100%;
}

.title-separator {
  font-weight: 600;
  color: $color-secondary;
  font-size: $font-size-M;
}

// comments
#comments {
  padding-top: 30px;
}

#comments-title {
  padding-bottom: 50px;
  padding-top: 35px;
}

#comments-title textarea {
  margin-top: 5px;
}

#comments-title .input:focus {
  border: 2px solid $color-quaternary;
}

#comments-title .input-btn {
  margin-top:5px;
}


/* -----------------------------------------------------------------------------
* Common elements
*/

.wrap-flex {
  display: flex;
}
.main-img {
  object-fit: fill;
  width: 100%;
  margin-top: 35px;
  margin-bottom: 35px;
}

.logo-nav {
  width: 50px;
  float: left;
  margin-left: 35px;
  margin-top:5px;
}

.last {
  margin-bottom: 35px;
}

textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 30px;
}

.top-menu {
  height: 60px;
  background-color: $color-secondary;
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.left-nav {
  float: left;
  overflow: auto;
  height: 100%;
}

.right-nav {
  height: 100%;
  float: right;
  overflow: auto;
}

.hr-separation {
  margin-top: 10px;
  background-color: $color-tertiary;
  margin-bottom: 10px;
  height: 3px;
  width: 50px;
}

.full-hr-separation {
  margin-top: 10px;
  background-color: $color-tertiary;
  margin-bottom: 10px;
  height: 3px;
  width: 100%;
}
.row-tools {
  padding-top:20px;
}

.row-pagination {
  padding-top: 10px;
}

.row-padding {
  padding-bottom: 50px;
}

// Input -----------------------------------------------------------------------

.form-group {
  margin-top: 20px;
}

.form-group-bottom {
  margin-bottom: 20px;
}

.form-label-top{
  margin-bottom: 10px;
  display: block;
  color: $color-quaternary-dark;
}


.input {
  height: 30px;
  width: 100%;
  border: 2px solid $color-quaternary;
  border-radius: 5px;
  padding-left: 15px;
  font-size: $font-size-XS;
  font-weight: 600;
}
.input:focus{
  border: 2px solid $color-tertiary;
  border-radius: 5px;
}


.input-medium {
  border: 2px solid $color-quaternary;
  border-radius: 5px;
  width: $element-width-M;
  height: 30px;
  padding-left: 15px;
}

.input-medium:focus{
  border: 2px solid $color-tertiary;
  border-radius: 5px;
}

.input-icon {
  padding-left: 30px;
}

.input:focus {
//  border: 2px solid $color-tertiary;
}

.input-btn {
  height: 30px;
  width: 100px;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
  display: block;
}

.select-input {
  height: 30px;
  font-weight: 600;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid $color-quaternary;
  border-radius: 5px;
  background-color: $color-primary;
  padding-left: 10px;
}

// Icon ------------------------------------------------------------------------
.form_actions {
  display: inline-block;
}

.fa-trash-alt {
  color: red;
}

.fa-edit {
  color: blue;
}

.fa-share-square {
  color: green;
}

.button_table {
  font-size: $font-size-S;
  border: none;
  background-color: $color-primary;
}

.wrapper-icon {
  position: relative;
}

.wrapper-icon i {
  position: absolute;
  line-height: 30px;
}

.icon-left {
  left: 10px;
}

.icon-right {
  right: 10px;
}

// Button ----------------------------------------------------------------------
.btn {
  height: 30px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
  font-size: $font-size-XS;
  line-height:26px;
}

.btn-icon {
  float: right;
}

.btn-icon i{
  margin-left: 5px;
}

.btn-extra-small {
  width: $element-width-X;
}

.btn-small {
  width: $element-width-S;
}

.btn-medium {
  width: $element-width-M;
}

.btn-extra-large {
  width: $element-width-XL;
}

.btn-full-width {
  width: 100%;
}

.btn-filled-orange {
  border: 2px solid $color-tertiary;
  background-color: $color-tertiary;
  color: white;
}

.btn-filled-blue {
  border: 2px solid $color-secondary;
  background-color: $color-secondary;
  color: white;
}


.btn-light-orange {
  border: 2px solid $color-tertiary;
  color: orange;
}

.btn-light-grey {
  border: 2px solid grey;
  color: grey;
}

// Table
.list-init-object {
  display: none;
}

.table-data table {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
}

.table-data thead {
  color: $color-primary;
  display: block;
  width: 100%;
}

.table-data table tbody {
  display:block;
  max-height:410px;
  overflow-y:scroll;
}

.table-data table thead, table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table-data tr {
  border: 2px solid $color-quaternary;
}

.table-data thead tr th:first-child {
  background-color: $color-tertiary;
}

.table-data thead tr th {
  background-color: $color-secondary;
  font-weight: 600;
  font-size: $font-size-S;
}

.table-data tbody tr td {
  text-align: center;
  font-size: $font-size-S;
}

.table-data tbody tr td:first-child {
  color: $color-tertiary;
}

.table-data tbody th,tbody td {
    border: 2px solid $color-quaternary;
}

.pagination_selector{
  display: block;
  float: right;
}

#div_pagination {
  text-align: center;
}

#pagination_links {
  text-align: center;
}

.column_sort{
  text-decoration: none;
  color: $color-primary;
  display: block;
  width: 100%;
}

.center-container {
  display: flex;
  height: 100%;
}

.section-container {
  height: 100%;
}

#emailConfirm p {
  color: $color-primary;
  text-align: center;
  font-weight: 600;
  font-size: $font-size-S;
  margin: 15px;
}

#emailConfirm a {
  display: block;
  text-align: center;
  font-size: $font-size-XS;
  margin-bottom: 15px;
}

#emailConfirm{
  height: calc(100% - 80px);
}

.forgot-password {
  margin-bottom: 20px;
}

.full-height{
  height: 100%;
}

.video-card {
  background-color: black;
  text-align: center;
  color: white;
}

.error-msg {
  display: flex;
  align-content: center;
  padding: 10px;
  background-color: $color-secondary;
  position: absolute;
  top: 20px;
  right: 0;
}

.error-msg i {
  color: white;
}

.error-msg .msg-content {
    color: red;
}

.bar-error-msg {
  background-color: red;
  width: 5px;
}

.success-msg {
  display: flex;
  align-content: center;
  padding: 10px;
  background-color: $color-secondary;
  position: absolute;
  top: 20px;
  right: 0;
}

.success-msg i {
  color: white;
}

.success-msg .msg-content {
    color: green;
}

.flash-msg {
  z-index: 1;
}

.bar-success-msg {
  background-color: green;
  width: 5px;
}

.no-padding {
  padding: 0;
}

.align-right {
  float: right;
}
.grey-content{
  color: $color-quaternary-dark;
  padding-left: 10px;
  text-decoration: none;
}
.padding-bottom-comment{
  padding-bottom: 5px;
}
.no-padding-right{
  padding-right: 0;
}

.avatar-img-medium{
  width: 40%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
}

.align-center{
  text-align: center;
}

.no-decoration{
  text-decoration: none;
  color: $color-secondary;
}

.comment-hidden {
  display: none;
}

.answer-comment {
  margin-top: 10px;
}

.comment-card {
  width: 100%;
  padding-top: 20px;
}

.answer-comment-input {
  border-width: 0px 0px 2px 0px;
  border-color: black;
  height: 30px;
}

.separation-comment {
  padding-top: 20px;
}

.report-comment {
  cursor: pointer;
}

.close-mdl {
  cursor: pointer;
}




/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close-mdl {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-mdl:hover,
.close-mdl:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: $color-tertiary;
    color: white;
}

.modal-body {padding: 20px;}


/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

.heightVh {
  height: 60vh;
}

.margin-bottom {
  margin-bottom: 10px;
}

.no-content {
  width: 100%;
  text-align: center;
}

.color-green {
  color: green;
}

.color-red {
  color: red;
}

#front-global-search {
  padding-bottom: 35px;
}

.selected-pagination{
  background-color: $color-tertiary;
}

/* PREMIUM FRONT */
.offer {
  width: 100%;
  border: 2px solid #E8E8E8;
  padding:10px 0px 10px 0px;
  border-radius:5px;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
}

.options-offer-premium {
  padding-top: 25px;
  padding-bottom: 20px;
}

.option-offer-premium {
  text-align: center;
  height: 30px;
  line-height: 30px;
  border-top: 2px solid $color-quaternary;
}

.option-offer-premium-last {
  border-bottom: 2px solid $color-quaternary;
}

.price-offer-premium {
  color: $color-tertiary;
  font-size: $font-size-L;
  font-weight: bold;
}

.premium-offers{
  font-weight: 600;
  padding-top: 35px;
}

.time-offer {
  margin-right: 10px;
  margin-bottom: 10px;
  color: $color-quaternary-dark;
  font-size: $font-size-X;
}

/* user front edit profil */
.user-edit-container{
  padding-top: 35px;
  padding-bottom: 35px;
}
