@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.container {
  width: calc(100% - 80px);
  margin: auto; }

.container-fluid {
  max-width: 100%; }

.row {
  display: flex;
  flex-wrap: wrap; }

.X1, .S1, .M1, .L1, .XL1, .X2, .S2, .M2, .L2, .XL2, .X3, .S3, .M3, .L3, .XL3, .X4, .S4, .M4, .L4, .XL4, .X5, .S5, .M5, .L5, .XL5, .X6, .S6, .M6, .L6, .XL6, .X7, .S7, .M7, .L7, .XL7, .X8, .S8, .M8, .L8, .XL8, .X9, .S9, .M9, .L9, .XL9, .X10, .S10, .M10, .L10, .XL10, .X11, .S11, .M11, .L11, .XL11, .X12, .S12, .M12, .L12, .XL12 {
  padding: 0 20px;
  background-clip: content-box; }

.X1 {
  flex-basis: 8.33333%;
  max-width: 8.33333%; }

.X2 {
  flex-basis: 16.66667%;
  max-width: 16.66667%; }

.X3 {
  flex-basis: 25%;
  max-width: 25%; }

.X4 {
  flex-basis: 33.33333%;
  max-width: 33.33333%; }

.X5 {
  flex-basis: 41.66667%;
  max-width: 41.66667%; }

.X6 {
  flex-basis: 50%;
  max-width: 50%; }

.X7 {
  flex-basis: 58.33333%;
  max-width: 58.33333%; }

.X8 {
  flex-basis: 66.66667%;
  max-width: 66.66667%; }

.X9 {
  flex-basis: 75%;
  max-width: 75%; }

.X10 {
  flex-basis: 83.33333%;
  max-width: 83.33333%; }

.X11 {
  flex-basis: 91.66667%;
  max-width: 91.66667%; }

.X12 {
  flex-basis: 100%;
  max-width: 100%; }

.X--offset0 {
  margin-left: 0%; }

.X--offset1 {
  margin-left: 8.33333%; }

.X--offset2 {
  margin-left: 16.66667%; }

.X--offset3 {
  margin-left: 25%; }

.X--offset4 {
  margin-left: 33.33333%; }

.X--offset5 {
  margin-left: 41.66667%; }

.X--offset6 {
  margin-left: 50%; }

.X--offset7 {
  margin-left: 58.33333%; }

.X--offset8 {
  margin-left: 66.66667%; }

.X--offset9 {
  margin-left: 75%; }

.X--offset10 {
  margin-left: 83.33333%; }

.X--offset11 {
  margin-left: 91.66667%; }

.X--offset12 {
  margin-left: 100%; }

.X--order0 {
  order: 0; }

.X--order1 {
  order: 1; }

.X--order2 {
  order: 2; }

.X--order3 {
  order: 3; }

.X--order4 {
  order: 4; }

.X--order5 {
  order: 5; }

.X--order6 {
  order: 6; }

.X--order7 {
  order: 7; }

.X--order8 {
  order: 8; }

.X--order9 {
  order: 9; }

.X--order10 {
  order: 10; }

.X--order11 {
  order: 11; }

.X--order12 {
  order: 12; }

.X--start {
  justify-content: flex-start; }

.X--center {
  justify-content: center; }

.X--end {
  justify-content: flex-end; }

.X--top {
  align-items: flex-start; }

.X--middle {
  align-items: center; }

.X--bottom {
  align-items: flex-end; }

.X--stretch {
  align-items: stretch; }

.X--reverse {
  flex-direction: row-reverse; }

.X--around {
  justify-content: space-around; }

.X--between {
  justify-content: space-between; }

@media (min-width: 481px) {
  .S1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .S2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .S3 {
    flex-basis: 25%;
    max-width: 25%; }
  .S4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .S5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .S6 {
    flex-basis: 50%;
    max-width: 50%; }
  .S7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .S8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .S9 {
    flex-basis: 75%;
    max-width: 75%; }
  .S10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .S11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .S12 {
    flex-basis: 100%;
    max-width: 100%; }
  .S--offset0 {
    margin-left: 0%; }
  .S--offset1 {
    margin-left: 8.33333%; }
  .S--offset2 {
    margin-left: 16.66667%; }
  .S--offset3 {
    margin-left: 25%; }
  .S--offset4 {
    margin-left: 33.33333%; }
  .S--offset5 {
    margin-left: 41.66667%; }
  .S--offset6 {
    margin-left: 50%; }
  .S--offset7 {
    margin-left: 58.33333%; }
  .S--offset8 {
    margin-left: 66.66667%; }
  .S--offset9 {
    margin-left: 75%; }
  .S--offset10 {
    margin-left: 83.33333%; }
  .S--offset11 {
    margin-left: 91.66667%; }
  .S--offset12 {
    margin-left: 100%; }
  .S--order0 {
    order: 0; }
  .S--order1 {
    order: 1; }
  .S--order2 {
    order: 2; }
  .S--order3 {
    order: 3; }
  .S--order4 {
    order: 4; }
  .S--order5 {
    order: 5; }
  .S--order6 {
    order: 6; }
  .S--order7 {
    order: 7; }
  .S--order8 {
    order: 8; }
  .S--order9 {
    order: 9; }
  .S--order10 {
    order: 10; }
  .S--order11 {
    order: 11; }
  .S--order12 {
    order: 12; }
  .S--start {
    justify-content: flex-start; }
  .S--center {
    justify-content: center; }
  .S--end {
    justify-content: flex-end; }
  .S--top {
    align-items: flex-start; }
  .S--middle {
    align-items: center; }
  .S--bottom {
    align-items: flex-end; }
  .S--stretch {
    align-items: stretch; }
  .S--reverse {
    flex-direction: row-reverse; }
  .S--around {
    justify-content: space-around; }
  .S--between {
    justify-content: space-between; } }

@media (min-width: 769px) {
  .M1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .M2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .M3 {
    flex-basis: 25%;
    max-width: 25%; }
  .M4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .M5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .M6 {
    flex-basis: 50%;
    max-width: 50%; }
  .M7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .M8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .M9 {
    flex-basis: 75%;
    max-width: 75%; }
  .M10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .M11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .M12 {
    flex-basis: 100%;
    max-width: 100%; }
  .M--offset0 {
    margin-left: 0%; }
  .M--offset1 {
    margin-left: 8.33333%; }
  .M--offset2 {
    margin-left: 16.66667%; }
  .M--offset3 {
    margin-left: 25%; }
  .M--offset4 {
    margin-left: 33.33333%; }
  .M--offset5 {
    margin-left: 41.66667%; }
  .M--offset6 {
    margin-left: 50%; }
  .M--offset7 {
    margin-left: 58.33333%; }
  .M--offset8 {
    margin-left: 66.66667%; }
  .M--offset9 {
    margin-left: 75%; }
  .M--offset10 {
    margin-left: 83.33333%; }
  .M--offset11 {
    margin-left: 91.66667%; }
  .M--offset12 {
    margin-left: 100%; }
  .M--order0 {
    order: 0; }
  .M--order1 {
    order: 1; }
  .M--order2 {
    order: 2; }
  .M--order3 {
    order: 3; }
  .M--order4 {
    order: 4; }
  .M--order5 {
    order: 5; }
  .M--order6 {
    order: 6; }
  .M--order7 {
    order: 7; }
  .M--order8 {
    order: 8; }
  .M--order9 {
    order: 9; }
  .M--order10 {
    order: 10; }
  .M--order11 {
    order: 11; }
  .M--order12 {
    order: 12; }
  .M--start {
    justify-content: flex-start; }
  .M--center {
    justify-content: center; }
  .M--end {
    justify-content: flex-end; }
  .M--top {
    align-items: flex-start; }
  .M--middle {
    align-items: center; }
  .M--bottom {
    align-items: flex-end; }
  .M--stretch {
    align-items: stretch; }
  .M--reverse {
    flex-direction: row-reverse; }
  .M--around {
    justify-content: space-around; }
  .M--between {
    justify-content: space-between; } }

@media (min-width: 1025px) {
  .L1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .L2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .L3 {
    flex-basis: 25%;
    max-width: 25%; }
  .L4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .L5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .L6 {
    flex-basis: 50%;
    max-width: 50%; }
  .L7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .L8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .L9 {
    flex-basis: 75%;
    max-width: 75%; }
  .L10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .L11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .L12 {
    flex-basis: 100%;
    max-width: 100%; }
  .L--offset0 {
    margin-left: 0%; }
  .L--offset1 {
    margin-left: 8.33333%; }
  .L--offset2 {
    margin-left: 16.66667%; }
  .L--offset3 {
    margin-left: 25%; }
  .L--offset4 {
    margin-left: 33.33333%; }
  .L--offset5 {
    margin-left: 41.66667%; }
  .L--offset6 {
    margin-left: 50%; }
  .L--offset7 {
    margin-left: 58.33333%; }
  .L--offset8 {
    margin-left: 66.66667%; }
  .L--offset9 {
    margin-left: 75%; }
  .L--offset10 {
    margin-left: 83.33333%; }
  .L--offset11 {
    margin-left: 91.66667%; }
  .L--offset12 {
    margin-left: 100%; }
  .L--order0 {
    order: 0; }
  .L--order1 {
    order: 1; }
  .L--order2 {
    order: 2; }
  .L--order3 {
    order: 3; }
  .L--order4 {
    order: 4; }
  .L--order5 {
    order: 5; }
  .L--order6 {
    order: 6; }
  .L--order7 {
    order: 7; }
  .L--order8 {
    order: 8; }
  .L--order9 {
    order: 9; }
  .L--order10 {
    order: 10; }
  .L--order11 {
    order: 11; }
  .L--order12 {
    order: 12; }
  .L--start {
    justify-content: flex-start; }
  .L--center {
    justify-content: center; }
  .L--end {
    justify-content: flex-end; }
  .L--top {
    align-items: flex-start; }
  .L--middle {
    align-items: center; }
  .L--bottom {
    align-items: flex-end; }
  .L--stretch {
    align-items: stretch; }
  .L--reverse {
    flex-direction: row-reverse; }
  .L--around {
    justify-content: space-around; }
  .L--between {
    justify-content: space-between; } }

@media (min-width: 1441px) {
  .XL1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .XL2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .XL3 {
    flex-basis: 25%;
    max-width: 25%; }
  .XL4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .XL5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .XL6 {
    flex-basis: 50%;
    max-width: 50%; }
  .XL7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .XL8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .XL9 {
    flex-basis: 75%;
    max-width: 75%; }
  .XL10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .XL11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .XL12 {
    flex-basis: 100%;
    max-width: 100%; }
  .XL--offset0 {
    margin-left: 0%; }
  .XL--offset1 {
    margin-left: 8.33333%; }
  .XL--offset2 {
    margin-left: 16.66667%; }
  .XL--offset3 {
    margin-left: 25%; }
  .XL--offset4 {
    margin-left: 33.33333%; }
  .XL--offset5 {
    margin-left: 41.66667%; }
  .XL--offset6 {
    margin-left: 50%; }
  .XL--offset7 {
    margin-left: 58.33333%; }
  .XL--offset8 {
    margin-left: 66.66667%; }
  .XL--offset9 {
    margin-left: 75%; }
  .XL--offset10 {
    margin-left: 83.33333%; }
  .XL--offset11 {
    margin-left: 91.66667%; }
  .XL--offset12 {
    margin-left: 100%; }
  .XL--order0 {
    order: 0; }
  .XL--order1 {
    order: 1; }
  .XL--order2 {
    order: 2; }
  .XL--order3 {
    order: 3; }
  .XL--order4 {
    order: 4; }
  .XL--order5 {
    order: 5; }
  .XL--order6 {
    order: 6; }
  .XL--order7 {
    order: 7; }
  .XL--order8 {
    order: 8; }
  .XL--order9 {
    order: 9; }
  .XL--order10 {
    order: 10; }
  .XL--order11 {
    order: 11; }
  .XL--order12 {
    order: 12; }
  .XL--start {
    justify-content: flex-start; }
  .XL--center {
    justify-content: center; }
  .XL--end {
    justify-content: flex-end; }
  .XL--top {
    align-items: flex-start; }
  .XL--middle {
    align-items: center; }
  .XL--bottom {
    align-items: flex-end; }
  .XL--stretch {
    align-items: stretch; }
  .XL--reverse {
    flex-direction: row-reverse; }
  .XL--around {
    justify-content: space-around; }
  .XL--between {
    justify-content: space-between; } }

html, body {
  font-family: 'Open Sans';
  height: 100%; }

/* -----------------------------------------------------------------------------
* DASHBORD
*/
#dashboard-login {
  height: 100%;
  background-color: #222831;
  display: flex;
  align-items: center;
  justify-content: center; }

#dashboard-login img {
  width: 160px;
  margin-left: 50%;
  transform: translateX(-50%); }

#dashboard-login h1 {
  font-size: 48px;
  color: white;
  text-align: center;
  font-weight: bold; }

#dashboard-login h1::first-letter {
  color: #F96D00; }

#dashboard-login input:nth-child(1) {
  width: 100%; }

#dashboard-login .input::placeholder {
  color: white; }

#dashboard-login .input {
  margin-top: 5px; }

#dashboard-login .input-btn {
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: #F96D00;
  border: 1px solid #F96D00;
  color: white; }

#dashboard-login .form-group label {
  color: white;
  font-weight: 600; }

#dashboard-nav .left-nav p {
  float: left;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-left: 100px;
  line-height: 60px; }

#dashboard-nav .right-nav .icon-bar {
  width: 200px;
  /* Full-width */
  height: 100%;
  overflow: auto;
  /* Overflow due to float */ }

#dashboard-nav .right-nav .icon-bar a {
  float: left;
  text-align: center;
  width: 25%;
  height: 100%;
  color: white;
  font-size: 21px;
  line-height: 60px; }

#dashboard-nav .right-nav .icon-bar a:hover {
  color: #F96D00; }

#dashboard-left-menu {
  width: 180px;
  height: calc(100% - 60px);
  background-color: #222831;
  float: left; }

#dashboard-left-menu ul li {
  display: block;
  width: 100%; }

#dashboard-left-menu ul li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px; }

#dashboard-left-menu ul li a i:nth-of-type(1) {
  margin-left: 20px;
  margin-right: 10px; }

#dashboard-left-menu ul li a i:nth-of-type(2) {
  margin-right: 10px;
  float: right;
  line-height: 30px; }

#dashboard-left-menu ul li:hover {
  background-color: #F96D00; }

#dashboard-left-menu .sub-menu ul {
  display: none; }

#dashboard-left-menu .submenu-item a {
  font-size: 14px;
  font-weight: normal; }

#dashboard-left-menu .submenu-item li {
  padding-left: 20px;
  width: 100%;
  background-color: #222831; }

#dashboard-left-menu .submenu-item li:hover {
  background-color: #A2A2A2; }

#main-left-menu li:hover .submenu-item {
  display: block;
  max-height: 60px; }

#main-left-menu .submenu-item {
  overflow: hidden;
  max-height: 0;
  transition: all 0.5s ease-out; }

#dashboard-content {
  float: left;
  width: calc(100% - 180px); }

#dashboard-stat select {
  width: 100%;
  height: 30px; }

#dashboard-stat .indicator p:nth-of-type(1) {
  font-weight: 600;
  font-size: 18px; }

#dashboard-stat .indicator .number-indicator {
  font-weight: 600;
  font-size: 48px;
  text-align: center; }

#dashboard-stat .indicator .text-indicator {
  font-weight: 600;
  font-size: 21px;
  text-align: center; }

#dashboard-stat {
  padding-top: 35px; }

#dashboard-stat select {
  margin-bottom: 20px; }

#dashboard-stat .last-row {
  padding-top: 60px; }

#dashboard-stat .indicator {
  display: inline-block; }

#dashboard-stat .indicator-margin {
  margin-bottom: 120px; }

#dashboard-stat .myChart {
  border: 2px solid #E8E8E8;
  border-radius: 5px;
  padding: 10px; }

/* -----------------------------------------------------------------------------
* Front
*/
.back-title {
  margin-top: 35px; }

.back-title h1 {
  color: #222831;
  font-size: 36px;
  font-weight: bold; }

.front-title {
  height: 80px;
  background-color: #E8E8E8;
  width: 100%;
  padding-left: 80px; }

.front-title h2 {
  color: #222831;
  font-size: 36px;
  font-weight: 600;
  line-height: 80px; }

.login-container {
  background-color: #222831;
  border-radius: 5px; }

.login-container .input {
  background-color: #222831;
  color: white; }

.main-section {
  padding: 35px 0 35px 0; }

.description {
  font-size: 21px; }

.errors {
  background-color: #d95858;
  border: 2px solid #c40018;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 5px 0 5px 0; }

.errors i {
  right: 10px; }

#front-add-user h3 {
  color: #222831;
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 10px; }

#front-topnav {
  height: 60px;
  background-color: #222831;
  overflow: hidden; }

#front-topnav .btn-filled-orange:hover {
  background-color: #222831;
  color: #F96D00; }

#front-topnav .wrapper-icon {
  float: right;
  position: relative;
  margin-top: 15px;
  margin-right: 25px; }

#front-topnav .right-nav a {
  float: right; }

#front-topnav .right-nav .btn-filled-orange:hover {
  border-bottom: 2px solid #F96D00;
  color: #F96D00; }

#front-topnav .left-nav .btn-filled-orange:hover {
  border-bottom: 2px solid #F96D00;
  color: #F96D00; }

#front-topnav .left-nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding-top: 18px;
  text-decoration: none;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  height: 60px;
  font-weight: 600; }

#front-topnav .left-nav a:nth-of-type(1) {
  margin-left: 25px; }

#front-topnav .left-nav a:hover {
  border-bottom: 2px solid #F96D00;
  color: #F96D00; }

#front-topnav .right-nav a {
  margin-top: 15px; }

#front-topnav .right-nav a:nth-of-type(1) {
  margin-right: 35px;
  margin-left: 25px; }

#slider {
  height: 200px;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  z-index: 0;
  position: relative; }

#slider img {
  object-fit: fill;
  width: 100%; }

#slider a i {
  font-size: 48px;
  color: white;
  height: 100%;
  vertical-align: middle;
  position: relative;
  top: 0px;
  left: 0px; }

#slider a {
  display: block;
  width: 35px;
  height: 50px;
  z-index: 10;
  position: absolute; }

#slider-left {
  left: 35px;
  top: 75px; }

#slider-right {
  right: 35px;
  top: 75px; }

#front-content .title {
  margin-top: 35px;
  font-size: 36px;
  color: #222831;
  font-weight: 600; }

#front-content .see-all {
  margin-top: 60px;
  text-align: right; }

#front-content .see-all a {
  font-size: 21px;
  font-weight: 600;
  color: #A2A2A2;
  text-decoration: none; }

#footer {
  background-color: #222831;
  color: white; }

#footer .footer-title {
  color: white;
  font-size: 24px;
  font-weight: bold; }

#footer div:first-of-type .footer-wrapper:first-of-type .footer-title::first-letter {
  color: #F96D00; }

#footer div:first-of-type .footer-wrapper:first-of-type .footer-content {
  font-size: 16px;
  padding: 10px 0; }

#footer-network {
  width: 60%;
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-top: 10px; }

#footer-network li a {
  display: block;
  text-decoration: none;
  color: white; }

#footer-network li i {
  font-size: 36px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px; }

.footer-wrapper {
  margin-top: 10px; }

#premium-container {
  height: 150px;
  background-color: #F96D00;
  margin-top: 60px;
  font-weight: bold;
  text-align: center; }

#premium-container a {
  text-decoration: none;
  color: white;
  font-size: 24px; }

#premium-container a i {
  margin-top: 10px;
  font-size: 40px;
  position: relative;
  left: 0; }

.card-image {
  height: 150px; }

.card img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 5px 5px 0 0; }

.card-separation {
  height: 5px;
  width: 100%;
  background-color: tomato; }

.card-content {
  text-align: center; }

.card-content-title {
  font-size: 18px;
  font-weight: 600;
  color: black;
  margin-top: 10px; }

.card-content-author {
  font-size: 18px;
  margin-top: 10px;
  color: #222831; }

.card {
  display: block;
  height: 230px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 35px; }

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.content-title {
  color: #F96D00;
  font-weight: 600;
  font-size: 21px; }

.content-text-under-title {
  color: black;
  font-size: 14px;
  margin-top: 10px; }

.content-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #222831;
  margin-top: 15px; }

#content-head a {
  margin-top: 25px;
  margin-bottom: 35px; }

#content a:hover {
  background-color: white;
  color: #F96D00; }

#content-main a {
  text-decoration: none;
  color: #F96D00;
  display: block;
  text-align: right; }

#content-main i {
  position: relative;
  left: 0;
  font-size: 21px;
  font-weight: 600; }

.content-text {
  margin-top: 10px;
  color: black;
  font-size: 14px; }

.content-hidden {
  display: none;
  margin-bottom: 20px; }

.left-content {
  margin-top: 35px;
  overflow: hidden;
  float: left;
  width: 300px; }

#content {
  overflow: hidden;
  height: 100%; }

.title-separator {
  font-weight: 600;
  color: #222831;
  font-size: 21px; }

#comments {
  padding-bottom: 50px;
  padding-top: 35px; }

#comments textarea {
  margin-top: 5px; }

#comments .input:focus  {
  border: 2px solid #E8E8E8; }

#comments .input-btn {
  margin-top: 5px; }

/* -----------------------------------------------------------------------------
* Common elements
*/
.main-img {
  object-fit: fill;
  width: 100%;
  margin-top: 35px;
  margin-bottom: 35px; }

.logo-nav {
  width: 50px;
  float: left;
  margin-left: 35px;
  margin-top: 5px; }

textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 30px; }

.top-menu {
  height: 60px;
  background-color: #222831;
  overflow: hidden; }

.left-nav {
  float: left;
  overflow: auto;
  height: 100%; }

.right-nav {
  height: 100%;
  float: right;
  overflow: auto; }

.hr-separation {
  margin-top: 10px;
  background-color: #F96D00;
  margin-bottom: 10px;
  height: 3px;
  width: 50px; }

.full-hr-separation {
  margin-top: 10px;
  background-color: #F96D00;
  margin-bottom: 10px;
  height: 3px;
  width: 100%; }

.row-tools {
  padding-top: 35px; }

.row-pagination {
  padding-top: 10px; }

.row-padding {
  padding-bottom: 50px; }

.form-group {
  margin-top: 20px; }

.form-group-bottom {
  margin-bottom: 20px; }

.form-label-top {
  display: block; }

.input {
  height: 30px;
  width: 100%;
  border: 2px solid #E8E8E8;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 14px;
  font-weight: 600; }

.input-medium {
  border: 2px solid #E8E8E8;
  border-radius: 5px;
  width: 300px;
  height: 30px; }

.input-medium:focus {
  border: 2px solid #F96D00;
  border-radius: 5px; }

.input-icon {
  padding-left: 30px; }

.input-btn {
  height: 30px;
  width: 100px;
  font-weight: 600;
  border-radius: 5px; }

.select-input {
  height: 30px;
  font-weight: 600;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #E8E8E8;
  border-radius: 5px;
  background-color: white;
  padding-left: 10px; }

.wrapper-icon {
  position: relative; }

.wrapper-icon i {
  position: absolute;
  line-height: 30px; }

.icon-left {
  left: 10px; }

.icon-right {
  right: 10px; }

.btn {
  height: 30px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px; }

.btn-icon {
  float: right; }

.btn-icon i {
  margin-left: 5px; }

.btn-extra-small {
  width: 100px; }

.btn-small {
  width: 120px; }

.btn-medium {
  width: 300px; }

.btn-extra-large {
  width: 500px; }

.btn-full-width {
  width: 100%; }

.btn-filled-orange {
  border: 2px solid #F96D00;
  background-color: #F96D00;
  color: white; }

.btn-filled-blue {
  border: 2px solid #222831;
  background-color: #222831;
  color: white; }

.btn-light-orange {
  border: 2px solid #F96D00;
  color: orange; }

.btn-light-grey {
  border: 2px solid grey;
  color: grey; }

.list-data {
  margin-top: 10px;
  width: 100%; }

.list-data thead {
  color: white; }

.list-data thead tr th:first-child {
  background-color: #F96D00; }

.list-data thead tr th {
  background-color: #222831;
  font-weight: 600;
  font-size: 18px; }

.list-data tbody tr td {
  text-align: center;
  font-size: 18px; }

.list-data tbody tr td:first-child {
  color: #F96D00; }

.list-data tbody tr td:last-child a {
  padding-right: 10px; }

.list-data tr {
  border: 2px solid #E8E8E8; }

.list-data {
  border-collapse: collapse; }

.list-data tbody th, tbody td {
  border: 2px solid #E8E8E8; }

.pagination-selector {
  display: block;
  float: right; }
